<!-- C.2.4. SERVICES -->                    

<section class="section" id="section-stuff">

    <div class="figure-servicesTop"><span></span></div>

    <div class="container">

        <!-- C.2.4.1. Page Title -->

        <section class="section-header">
            <h2>{ stuff }</h2>
        </section>
        
        <section class="container">
        
            <aside class="employees">
            
                <h3>Places i've worked</h3>
                
                <ul class="career">
                    <li class="employee">
                        <span class="company">Forge Technologies</span>
                        <span class="role">{ Senior Frontend Developer and Development Team Leader }</span>
                        <span class="date">May 2015 <> present</span>
                    </li>
                    <li class="employee">
                        <span class="company">Omni Studio</span>
                        <span class="role">{ Frontend Developer }</span>
                        <span class="date">Apr 2014 <> May 2015</span>
                    </li>
                    <li class="employee">
                        <span class="company">EOH Microsoft Coastal</span>
                        <span class="role">{ Frontend Developer }</span>
                        <span class="date">Jan 2012 <> Mar 2014</span>
                    </li>
                    <li class="employee">
                        <span class="company">Airborne Technologies</span>
                        <span class="role">{ Frontend Developer }</span>
                        <span class="date">Oct 2009 <> Jan 2012</span>
                    </li>
                    <li class="employee">
                        <span class="company">DFA Solutions</span>
                        <span class="role">{ Web Developer, Digital Designer and Development Team Leader }</span>
                        <span class="date">Jun 2008 <> Sep 2009</span>
                    </li>
                    <li class="employee">
                        <span class="company">NetraLink Development Services</span>
                        <span class="role">{ Web Developer and Business Owner }</span>
                        <span class="date">Feb 2006 <> May 2008</span>
                    </li>
                    <li class="employee">
                        <span class="company">NetraLink ISP</span>
                        <span class="role">{ Branch Manager, Development Department Manager and Web Developer }</span>
                        <span class="date">Jun 1999 <> Jan 2006</span>
                    </li>
                    
                </ul>
            
            </aside>
        
        
        </section>

    </div>

</section>

<!-- C.2.4. END -->