<div class="container">

    <div class="grid">

        <!-- C.2.2.1. CONTACT AREA -->

        <form class="form__contact two-thirds mobi">

            <ul class="inline menu ">
                <li><a href="#" class="small text button active">Contact details</a></li>
                <li><a href="#" class="small text button">How to find us</a></li>
            </ul>
            <h3>We're only a phone call away</h3>
            <p>Our team is always ready to help you improve your financial future. Whether you are a new customer or already have a file with us, just fill out the relevant form below and we will contact you as soon as we can. </p>
            <h3>0845 555 0600</h3>
            <h3><strong>info@portalfinancial.co.uk</strong></h3>
            <h3>Have an expert call you back</h3>
            <p>Our team is always ready to help you improve your financial future. Whether you are a new customer or already have a file with us, just fill out the relevant form below and we will contact you as soon as we can.</p>


            <div class="field-item select-box">
                <select>
                    <option>Select a title</option>
                    <option>Mr</option>
                    <option>Mrs</option>
                </select>
            </div>

            <div class="field-item text">
                <input type="text" placeholder="First Name*">
            </div>

            <div class="field-item text">
                <input type="text" placeholder="Last Name*">
            </div>

            <div class="field-item text">
                <input type="text" placeholder="Email*">
            </div>

            <div class="field-item select-box">
                <select>
                    <option>Please select enquiry type*</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>

            <div class="field-item select-box">
                <select>
                    <option>Prefered call back time*</option>
                    <option>AM</option>
                    <option>PM</option>
                </select>
            </div>

            <a class="single blue button active" >Submit Form</a>

            <h3>Opening times</h3>
            <p>Mon - Fri 8am to 6pm,Sat &amp; Sun - Closed</p>

        </form>

        <!-- C.2.2.2. CONTACT SIDE -->

        <aside class="contact__aside one-third mobi">

            <!-- C.2.2.2.1. aside menu -->

            <ul class="grid">
                <li class="one-half mobi"><a href="#" class="full blue button active">Call me back</a></li>
                <li class="one-half mobi"><a href="#" class="full blue button">Request free pack</a></li>
            </ul>

            <!-- C.2.2.2.2. large image -->

            <figure class="figure-pic">
                <img class="figure__img" src="assets/images/contact.png" />
            </figure>

        </aside>    

    </div>

</div>