<div class="container">

    <div class="grid">

        <!-- C.2.2.1. MAP AREA -->

        <section class="map__details one-third mobi">

            <div class="wrapper">

                <h3>Where to find us</h3>

                <p>Our offices are in Rochester in Kent, with views of the famous castle and cathedral on one side, and the river Medway, historic dockyard and napoleanic Fort Amherst on the other. It's quite a nice spot really.ontact us by phone.</p>

                <p class="address">
                    Portal Financial Services<br/>
                    Sir Thomas Longley Road<br/>
                    Rochester<br/>
                    Kent, ME2 4FD
                </p>

                <p class="address">
                    For press: press@portalfinancial.co.uk
                </p>

            </div>    

        </section>

        <!-- C.2.2.2. CONTACT SIDE -->

        <section class="map two-thirds mobi">

            <figure class="figure-pic">
                <img class="figure__img" src="assets/images/map.png" />
            </figure>

        </section>    

    </div>

    <section class="interaction grid">

        <span class="one-half mobi">Incentive to sign up goes here, what can we tempt them with?</span>
        <div class="field-item text one-third mobi">
            <input type="text" placeholder="Last Name*">
        </div>
        <span class="one-sixth mobi">
            <a class="text inline button">Sign up</a>  
        </span>
    </section>

</div>